/* Imports the Lunchtime font for use in labels, buttons, etc. */
@font-face {
    src: url('lunchtime.ttf');
}

/* Root refers to all the contents in a scene.
 * Changes the background color to black (in case the image isn't found);
 * Changes the background image to forest.png;
 * Makes the image cover the whole scene;
 * Makes all components use the Lunchtime font;
 * Sets the default font size to 20px.
 */
.root{
    -fx-background-color: black;
    -fx-background-image: url('../images/forest.png');
    -fx-background-size: cover;
    -fx-font-family: 'Lunchtime Doubly So';
    -fx-font-size: 20px;
}

/* Button refers to all the buttons.
 * Sets the text color to black, sets the text size to 25px;
 * Makes the button square (rounding is reduced to 0);
 * Sets the background color of the button to green;
 * Sets the width of button border to 5px and makes it black.
 */
.button{
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-background-radius: 0;
    -fx-background-color: #C1FFAF;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-background-insets: 100%;

}
/* Button:hover refers to all the buttons which have a mouse cursor on top of them.
 * Lightens up the color of our button.
 */
.button:hover{
    -fx-background-color: #DBFFD1;

}

/* Label-title refers to a specific label which is used for titles.
 * Since the ID is specified, this style will override the generic label styling.
 * Makes the font bigger than the generic label.
 */
#label-title{
    -fx-text-fill: black;
    -fx-font-size: 50px;
}
/* Label refers to all labels.
 * Basic labels will have smaller font than the title ones.
 */
.label{
    -fx-text-fill: black;
    -fx-font-size: 25px;
}

/* Check-box refers to all check boxes.
 * Sets the text color to black.
 */
.check-box{
    -fx-text-fill: black;
}
/*
 * Box refers to the part of a checkbox which is clickable
 */
.check-box .box{
    -fx-background-color: aliceblue;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-border-width: 3px;
    -fx-background-insets: 100%;
}
/*
 * Mark refers to the symbol that appears when a checkbox is selected.
 */
.check-box:selected .mark{
    -fx-background-color: black;
}

/*
 * Slider refers to all sliders.
 * Track refers to the track path of the slider.
 */
.slider .track{
    -fx-pref-height: 20;
    -fx-background-color: aliceblue;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-background-insets: 100%;
}
/*
 * Thumb refers to the moving part of the slider.
 */
.slider .thumb{
    -fx-background-color: #C1FFAF;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-background-insets: 100%;
    -fx-background-radius: 0;
}






