@font-face {
    src: url('assets/lunchtime.ttf');
}
.root{
    -fx-background-color: black;
    -fx-background-image: url('assets/forest.png');
    -fx-background-size: cover;
    -fx-font-family: 'Lunchtime Doubly So';

}
.button{
    -fx-text-fill: black;
    -fx-background-radius: 0;
    -fx-font-size: 25px;
    -fx-background-color: #C1FFAF;
    -fx-border-width: 5px;
    -fx-border-color: black;

}
.button:hover{
    -fx-background-color: #DBFFD1;

}
#label-title{
    -fx-text-fill: black;
    -fx-font-size: 50px;
}
.label{
    -fx-text-fill: black;
    -fx-font-size: 25px;
}

